<ion-header>
  <ion-toolbar>    
    <ion-title color="danger">VALORANT</ion-title>
      <img src="https://www.google.cl/url?sa=i&url=https%3A%2F%2Fes.m.wikipedia.org%2Fwiki%2FArchivo%3AValorant_logo_-_pink_color_version.svg&psig=AOvVaw2w92yKTYDNLjyG_Sij4MiU&ust=1664320469351000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKivjYvLs_oCFQAAAAAdAAAAABAD">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SKIN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/skinneptuno.jpg">
    </ion-card-content>
    <ion-card-content>
      Skin para tus armas, busca la personalización que mas te represente y llevatela para realizar esos ACE
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>AGENTES</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/chamber.jpg">
    </ion-card-content>
    <ion-card-content>
      Revisa lo nuevo en agentes y actualizaciones
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MAPAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/mapas.jpg">
    </ion-card-content>
    <ion-card-content>
      Aquí podras aprender sobre cada mapa y sus posiciones mas populares
    </ion-card-content>
  </ion-card>
  

</ion-content>
