<ion-header>
  <ion-toolbar>    
    <ion-title color="danger">VALORANT</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SKIN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/skinneptuno.jpg">
    </ion-card-content>
    <ion-card-content>
      Skin para tus armas, busca la personalización que mas te represente y llevatela para realizar esos ACE
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>AGENTES</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/chamber.jpg">
    </ion-card-content>
    <ion-card-content>
      Revisa lo nuevo en agentes y actualizaciones
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MAPAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/mapas.jpg">
    </ion-card-content>
    <ion-card-content>
      Aquí podras aprender sobre cada mapa y sus posiciones mas populares
    </ion-card-content>
  </ion-card>
  

</ion-content>
