<ion-header [translucent]="true">
  <ion-header >
    <ion-toolbar color="medium-shade">
      <ion-buttons slot="start">
        
        <img src="/assets/images/riot-games-logo.png" width="70" height="20" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark">

  <ion-item color="dark">
    <ion-label>Usuario</ion-label>
  </ion-item> 
</ion-content>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label>Contraseña</ion-label>
  </ion-item>
</ion-content>

<ion-content color="dark">
  <ion-button Href="inicio">INGRESAR</ion-button>
</ion-content>
