<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar color="medium-shade">
      <ion-buttons slot="start">
        <ion-title size="large" >INGRESAR </ion-title>
        <img src="/assets/images/riot-games-logo.png" width="60" height="20"/>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-item>
    <ion-label>Usuario</ion-label>
  </ion-item>
 
</ion-content>

<ion-content>
  <ion-item>
    <ion-label>Contraseña</ion-label>
  </ion-item>

</ion-content>
<ion-content>
  <ion-button>INGRESAR</ion-button>
</ion-content>
