<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/images/riot-games-logo.png" width="80" height="30"/>
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-card-content>
      Elige uno de tus juegos favoritos de RIOT
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <img src="/assets/images/fondolol.jpg">
  </ion-card>
    <img src="/assets/images/valorantfondo.png">
  <ion-card>
    <img src="/assets/images/tftfondo.jpg">
  </ion-card>


</ion-content>
