<ion-header>
  <ion-toolbar>
    <ion-title >
      <ion-button color="light" Href="login">
      <img src="/assets/images/riot-games-logo.png" width="80" height="30" />
      </ion-button>
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-card-content>
      Elige uno de tus juegos favoritos de RIOT
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <a href="">
      <img src="/assets/images/fondolol.jpg">
    </a>
  </ion-card>
    <a href="valorant">
      <img src="/assets/images/valorantfondo.png">
    </a>
    
  <ion-card>
    <a href="TFT">
      <img src="/assets/images/tftfondo.jpg">
    </a>
    
  </ion-card>


</ion-content>
